<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xxx.mapper.DissertationMapper" >
    <!--学生查询查询个人论文提交情况-->
    <select id="selectDissertationByStu_ID" resultType="com.example.xxx.entity.Dissertation">
        select * from dissertation where stu_ID=#{stu_ID}
    </select>

</mapper>